.alert {
    margin: 2%;
    font-size: 2em;
}

h1 {
    text-align: center;
}

.table-margin {
    margin: 2%;
}

.centered-button {
    text-align: center;
}

.centered-button button {
    font-size: 2rem;
}
