.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.loader {
    min-width: 30%;
    display: inline-block;
  }

.page-header {
    background-image: url("/assets/header.jpg");
    background-size: auto 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 25%;
  display: flex;
    align-items: center;
}

.page-header > div {
    margin: 1%;
    display: inline-block;
}

/* CSS Transforms and Animation related things */


/* Animacion de escalado */
@keyframes beating{
    0% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

svg path {
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-box: fill-box;
}

.animated {
    animation: beating 1s cubic-bezier(0,1.1,0.5,0.96) -1s infinite alternate none;
}

/* Animacion para distintos puntos de logo */
.p1 {
    animation-delay: -1s;
}

.p2 {
    animation-delay: -0.75s;
}

.p3 {
    animation-delay: -0.5s;  
}

.p4 {
    animation-delay: -0.25s;  
}

.p5 {
    animation-delay: 0s;  
}

/* Flags an other stuff */
.flag {
background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 4rem;
  height: 3rem;
  box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.75);
}

.flag-es {
   background-image: url("/assets/es.svg"); 
}

.flag-gb {
    background-image: url("/assets/gb.svg"); 
 }

 .flag-fr {
    background-image: url("/assets/fr.svg"); 
 }

 .flag-it {
    background-image: url("/assets/it.svg"); 
 }

 .flag-de {
    background-image: url("/assets/de.svg"); 
 }

 .flag-pl {
    background-image: url("/assets/pl.svg"); 
 }