/* You can add global styles to this file, and also import other style files */
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

html, body {
    height: 100%;
    margin: 0;
}

svg {
    width: 100%;
    height: auto;
    overflow: visible;
}

.vertically-centered {
    display: flex;
    align-items: center;
    min-height: 70%;
}

.vertically-centered > div {
    text-align: center;
    width: 100%;
    min-height: 0;
}